  <nav id="filters">
    <div id="filtersNav"><div id="filterChevron" class="chevron">Filters &nbsp;</div></div>
    <div id="filtersPanel">
      <p>Seen by</p>
        <input type="radio" name="seenByFilter" value="Josh"><label>Josh</label>
        <input type="radio" name="seenByFilter" value="Alicia"><label>Alicia</label>
        <input type="radio" name="seenByFilter" value="Both"><label>Both</label>
        <input type="radio" name="seenByFilter" value="Neither"><label>Neither</label>
      <p>Skipped by</p>
        <input type="radio" name="skippedByFilter" value="Josh"><label>Josh</label>
        <input type="radio" name="skippedByFilter" value="Alicia"><label>Alicia</label>
        <input type="radio" name="skippedByFilter" value="Both"><label>Both</label>
        <input type="radio" name="skippedByFilter" value="Neither"><label>Neither</label>
      <p>Min IMDb rating</p>
         5<input type="range" value="5" min="5" max="9.5" step=".1" class="slider" id="imdbSlider"> <span id="demo"></span>9.5
      <p>Max duration</p>
       60<input type="range" min="60" max="250" step="10" value="250" class="slider" id="durationSlider"><span id="demo"></span>250
      <p>Decade</p>
      Min
      1920 <input type="range" value="1920" min="1920" max="2020" class="slider" step="10" id="minSlider"><span id="demo"></span>2020
      <br/>
      Max   
      1920 <input type="range" value="2020" min="1920" max="2020" class="slider" step="10" id="maxSlider"> <span id="demo"></span>2020
      <br></br>
      <label for="winnersOnly">Winners only?</label> <input type="checkbox" id="winnersOnly" />
   </div>
  </nav>