  <nav id="filters">
    <p>Filters</p>
      <p>Seen by</p>
        <input type="radio" name="seenByFilter" value="Josh"><label>Josh</label>
        <input type="radio" name="seenByFilter" value="Alicia"><label>Alicia</label>
        <input type="radio" name="seenByFilter" value="Both"><label>Both</label>
        <input type="radio" name="seenByFilter" value="Neither"><label>Neither</label>
      <p>Skipped by</p>
        <input type="radio" name="skippedByFilter" value="Josh"><label>Josh</label>
        <input type="radio" name="skippedByFilter" value="Alicia"><label>Alicia</label>
        <input type="radio" name="skippedByFilter" value="Both"><label>Both</label>
        <input type="radio" name="skippedByFilter" value="Neither"><label>Neither</label>
      <p>IMDb rating</p>
         <input type="range" min="1" max="10" class="slider" id="myRange"> <span id="demo"></span>
      <p>Max duration</p>
       <input type="range" min="60" max="250" class="slider" id="myRange"> <span id="demo"></span>
      <p>Decade</p>
      Min    <input type="range" min="1920" max="2010" class="slider" step="10" id="myRange"> <span id="demo"></span>
      Max    <input type="range" min="1920" max="2010" class="slider" step="10" id="myRange"> <span id="demo"></span>
      <p>Winners only</p>
        <input type="checkbox" id="winnersOnly"> Yes
  </nav>