<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Pandemic Pictures</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,600" />
    <script src="https://kit.fontawesome.com/7f9603f1e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
    <link rel="icon" type="image/png" href="./assets/favicon.png">
  </head>
  <body>
    <header id="header">
      <h1 id="title"><a href="#">Pandemic Pictures</a></h1>

      <div class="totals-container">
        <div class="totals-user">Josh <span>100</span></div>
        <div class="totals-user">Alicia <span>99</span></div>
      </div>

      <div class="button-container"><a class="picker" href="#">Pick a Movie</a></div>

    </header>
    <main>
    {{{body}}}
  </main>
    <footer>
      <p>Made with &#127801;  in NYC</p>
      <p> by <i class="fab fa-github"></i> <a href="https://github.com/joshuakopman" target="_blank">joshuakopman</a> &amp; <i class="fab fa-github"></i> <a href="https://github.com/aliciahurst" target="_blank">aliciahurst</a> </p>

    </footer>
    <script src="/javascripts/UIHandler.js"></script>
    <script src="/javascripts/DataHandler.js"></script>
    <script src="/javascripts/Main.js"></script>
  </body>
</html>