{{#each allNominees}}
  <h2 class="accordion-title" index="{{@index}}">{{this.Year}}</h2>
   <div>
    {{#each this.Movies}}
      <h3>{{this.Name}}</h3>
        {{#each this.Viewers}}
        <div >{{this.Name}}
          <input type="checkbox" disabled="true"  {{#if this.HasSeen}}checked{{/if}}>
        </div>
      {{/each}}
    {{/each}}
    </div>
{{/each}}
