body {
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

header {
  background: #F04C53;
  color: #fff;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.h1 {

}

header.totals-container {
}

.totals-container > div {
  display: inline-block;
  color: #000;
  margin-right: 20px;
  font-weight: 700;
}

.totals-user span {
  padding: 10px;
  border: 1px solid #000;
  margin-left: 10px;
  font-weight: 300;
  font-size: 18px;
}

.picker {
      background-image: linear-gradient(to top left,#ffa944,#c3185f);
    color: #fff;
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    white-space: nowrap;
    padding: 1rem 1.5rem;
    line-height: 1.4;
    text-align: center;
    transition: .4s;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.picker:hover {
  background-image: none;
  background: #c3185f;
}

main {
  padding: 50px;
  background: #f3f2ef;
}

.year-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
}

.year-heading {
  flex-basis: 100%;
}

.movie-container {
  flex: 0 0 auto;
  margin: 0 20px 30px 0;
  width: 28%;
  padding: 20px;
  background: #fff;
  box-shadow: 4px 6px 12px #bf868833;
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-title {
  margin: 0 0 5px 0;
  font-weight: bold;
  font-size:18px;
}

.movie-poster-comtainer {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  margin-right: 20px;
}

.movie-content-container {
  display: inline-block;
  width: 65%;
  vertical-align: top;
}

.imdb-container {
  display:block;
  color: #8C8989;
  margin-bottom: 25px;
}

.imdb-star {
}

.imdb-rating {
  font-weight: 300;
  font-size: 14px;
}

.user-container {
   display: flex;
 flex-wrap: no-wrap;
  justify-content: flex-start;
  align-content: space-between;
  margin-bottom: 10px;
}

.user-info {
  font-size: 22px;
  vertical-align: middle;
}

.user-name {
  width: 70px;
  font-size: 16px;
  line-height: 28px;
  color: #8C8989;
}

.user-check {
  margin-right: 20px;
}

.check-label {
  margin-top: -13px;
}

.user-smile {
  margin-right: 5px;
}

.user-frown {
  margin-right: 20px;
}

.skip-label {
  margin-top: -31px;
}

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    text-align: center;
}

.checkbox-custom:checked + .check-label:before {
    content: "\2713";
    color: #4cf0ca;
    font-size: 22px;
}

.checkbox-custom:checked + .skip-label:before {
    content: "\261E";
    color: #F04C53;
    font-size: 3s0px;
}

.checkbox-custom + .check-label:before {
    content: "\2713";
    color: #8c898982;
}

.checkbox-custom + .skip-label:before {
    content: "\261E";
    color: #8c898982;
    font-size: 30px;
}

.radio-custom + .radio-custom-label:before {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    text-align: center;
}

.radio-custom + .smile-label:before {
    content: "\263A";
    color: #8c898982;
}

.radio-custom + .frown-label:before {
    content: "\2639";
    color: #8c898982;
}

.radio-custom:checked + .smile-label:before {
    content: "\263A"; 
    color: #f0c54c;
    font-size: 22px;
}

.radio-custom:checked + .frown-label:before {
    content: "\2639"; 
    color: #f0c54c;
    font-size: 22px;
}