body {
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

header {
  background: #F04C53;
  color: #fff;
  padding: 10px 50px;
}

main {
  padding: 50px;
  background: #f3f2ef;
}

.year-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
}

.year-heading {
  flex-basis: 100%;
}

.movie-container {
  flex: 0 0 auto;
  margin: 0 20px 30px 0;
  width: 28%;
  padding: 20px;
  background: #fff;
  box-shadow: 4px 6px 12px #bf868833;
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-title {
  margin: 0 0 5px 0;
  font-weight: bold;
  font-size:18px;
}

.movie-poster-comtainer {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  margin-right: 20px;
}

.movie-content-container {
  display: inline-block;
  width: 65%;
  vertical-align: top;
}

.imdb-container {
  display:block;
  color: #8C8989;
  margin-bottom: 25px;
}

.imdb-star {
}

.imdb-rating {
  font-weight: 300;
  font-size: 14px;
}

.user-container {
   display: flex;
 flex-wrap: no-wrap;
  justify-content: flex-start;
  align-content: space-between;
  margin-bottom: 10px;
}

.user-info {
  font-size: 22px;
  color: #8c898982;
  vertical-align:middle;
}

.user-name {
  width: 60px;
  font-size: 16px;
  line-height: 28px;
  color: #8C8989;
}

.user-check {
  margin-right: 15px;
}

.user-smile {
  margin-right: 5px;
}

.user-frown {
  margin-right: 15px;
}
